<header>

    <div class="container">
        <a routerLink="/" class="logo">Food-corner</a>
        <nav>
            <ul>
                <li>
                    <a href="">login</a>
                 </li>

                <li class="menu-container">
                    <a routerLink="/dashboard">Ritika</a>
                
                <div class="menu">
                    <a routerLink="/profile">profile</a>
                    <a routerLink="/order">order</a>

                    <a routerLink="/logout">logout</a>

                </div>
                </li>
                <li>
                    <a routerLink="\cart">cart <span>3</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>